<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.uap.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dili.uap.sdk.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="firm_code" jdbcType="VARCHAR" property="firmCode" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="locked" jdbcType="TIMESTAMP" property="locked" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="cellphone" jdbcType="VARCHAR" property="cellphone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_name, password, firm_code, department_id, position, card_number, created, 
    modified, state, real_name, serial_number, cellphone, email,locked
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>


  <!-- 根据角色ID查询用户列表信息 -->
  <select id="findUserByRole" parameterType="Long" resultMap="BaseResultMap">
        <![CDATA[
        SELECT u.*
        FROM user u
        LEFT JOIN user_role ur on ur.user_id = u.id
        WHERE ur.role_id=#{id}
		]]>
	</select>

  <!--- 联合查询分页信息 -->
  <select id="selectForPage" parameterType="com.dili.uap.sdk.domain.User" resultType="com.dili.uap.domain.dto.UserDto">
      select u.*,
            CASE
              WHEN group_concat(r.role_name) IS NOT NULL THEN group_concat(r.role_name)
              ELSE '--'
            END AS user_roles
      FROM user u LEFT JOIN user_role ur ON u.id=ur.user_id LEFT JOIN role r ON ur.role_id=r.id
      <include refid="QUERY_WHERE_CLAUSE" />
      GROUP BY  u.id
  </select>

  <!-- 全部条件(更多功能可以通过queryData扩展实现)  -->
  <sql id="QUERY_WHERE_CLAUSE">
    <where>
      1 = 1
      <if test="firmCode != null">
         and u.firm_code = #{firmCode}
      </if>
      <if test="departmentId != null">
        and u.department_id = #{departmentId}
      </if>
      <if test="state != null">
        and u.state = #{state}
      </if>
      <if test="roleId != null">
        and ur.role_id = #{roleId}
      </if>
      <if test="keywords != null and keywords != ''">
        and (u.user_name = #{keywords} or u.cellphone = #{keywords})
      </if>
    </where>
  </sql>

  <select id="selectUserDatas" parameterType="map" resultType="com.dili.uap.domain.dto.UserDataDto">
      SELECT
        d.id AS treeId,
        CASE
          WHEN d.parent_id is null THEN
            CONCAT('firm_',d.firm_code)
          ELSE
            d.parent_id
        END AS parentId,
        d.`name`,
        CASE
          WHEN ud.id IS NULL THEN
              FALSE
          else true
        end AS checked
      FROM
        department d
        LEFT JOIN user_department ud ON d.id = ud.department_id and  ud.user_id = #{userId}
        where 1 = 1 
        <if test="firmCode != null and firmCode != ''">
          and d.firm_code = #{firmCode}
        </if>
      UNION ALL
      SELECT
          CONCAT('firm_',f.`code`) AS treeId,
          NULL AS parentId,
          f.`name`,
          FALSE AS checked
       FROM firm f  where 1 = 1
        <if test="firmCode != null and firmCode != ''">
          and f.code = #{firmCode}
        </if>
  </select>

</mapper>