<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artist.investment.dao.InvestmentMapper">
  <resultMap id="BaseResultMap" type="com.artist.investment.domain.Investment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="investor_id" jdbcType="BIGINT" property="investorId" />
    <result column="platform_id" jdbcType="BIGINT" property="platformId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="project_duration" jdbcType="INTEGER" property="projectDuration" />
    <result column="project_duration_unit" jdbcType="INTEGER" property="projectDurationUnit" />
    <result column="profit_ratio" jdbcType="INTEGER" property="profitRatio" />
    <result column="deducted" jdbcType="BIGINT" property="deducted" />
    <result column="Interest_coupon" jdbcType="INTEGER" property="interestCoupon" />
    <result column="cash_coupon" jdbcType="BIGINT" property="cashCoupon" />
    <result column="investment" jdbcType="BIGINT" property="investment" />
    <result column="is_remind" jdbcType="INTEGER" property="isRemind" />
    <result column="bank_card_id" jdbcType="BIGINT" property="bankCardId" />
    <result column="balance_due" jdbcType="BIGINT" property="balanceDue" />
    <result column="is_expired" jdbcType="INTEGER" property="isExpired" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="created_id" jdbcType="BIGINT" property="createdId" />
    <result column="modified_id" jdbcType="BIGINT" property="modifiedId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, investor_id, platform_id, project_name, start_date, end_date, project_duration,
    project_duration_unit, profit_ratio, deducted, Interest_coupon, cash_coupon,
    investment, is_remind, bank_card_id, balance_due, is_expired, notes, created_id,
    modified_id, created, modified
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from investment
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 查询投资分布饼图 -->
  <select id="selectInvestmentDistributionPieChart" parameterType="map" resultType="map">
    select sum(i.investment)/100 investment, ip.name platformName from investment i, investment_platform ip where i.platform_id = ip.id
    <if test="isProgressing != null and isProgressing == 1">
      <![CDATA[
      and now()> i.start_date and now() < i.end_date
      ]]>
    </if>
    <if test="isProgressing != null and isProgressing == 0">
      <![CDATA[
      and (now()< i.start_date or now() > i.end_date)
      ]]>
    </if>
    <if test="investorId != null and investorId != ''">
      and i.investor_id = #{investorId,jdbcType=BIGINT}
    </if>
    group by i.platform_id
  </select>

  <!-- 查询收益分布饼图 -->
  <!-- (投资额 + 抵扣额) * (年化收益率 + 利率加息券) * 收益总天数 / 365 / 100% /100(分)， 保留两位小数并四舍五入 -->
  <select id="selectProfitDistributionPieChart" parameterType="map" resultType="map">
    select ROUND(sum((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)*datediff(i.end_date, i.start_date))/365/10000, 2) profit
    , ip.name platformName
    from investment i, investment_platform ip where i.platform_id = ip.id
    <if test="isProgressing != null and isProgressing == 0">
      <![CDATA[
      and (now()< i.start_date or now() > i.end_date)
      ]]>
    </if>
    <if test="isProgressing != null and isProgressing == 1">
      <![CDATA[
      and now()> i.start_date and now() < i.end_date
      ]]>
    </if>
    <if test="investorId != null and investorId != ''">
      and i.investor_id = #{investorId,jdbcType=BIGINT}
    </if>
    group by i.platform_id
  </select>
  <!-- 查询投资横比柱图 -->
  <select id="selectInvestmentComparisonBarChart" parameterType="map" resultType="map">
    select ROUND(sum(i.investment)/100, 2) investment
    , ip.name platformName, i.investor_id investorId
    from investment i, investment_platform ip where i.platform_id = ip.id
    <if test="isProgressing != null and isProgressing == 0">
      <![CDATA[
      and (now()< i.start_date or now() > i.end_date)
      ]]>
    </if>
    <if test="isProgressing != null and isProgressing == 1">
      <![CDATA[
      and now()> i.start_date and now() < i.end_date
      ]]>
    </if>
    <if test="investorId != null and investorId != ''">
      and i.investor_id = #{investorId,jdbcType=BIGINT}
    </if>
    group by i.investor_id, i.platform_id
  </select>
  <!-- 查询投资人平台统计 -->
  <select id="selectInvestorPlatformStats" resultType="map">
    SELECT
    t1.investorId
    ,t1.platformName
    ,t1.investment
    ,t1.deducted
    ,t1.profit
    ,t1.principalAndInterest
    ,t1.investmentAmount
    ,t3.dailyProfit
    ,t2.totalInvestment
    ,t2.totalDeducted
    ,t2.totalPrincipalAndInterest
    ,t2.totalProfit
    ,t2.totalInvestmentAmount
    FROM
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000, 2) profit
    , ROUND(SUM(i.investment)/100, 2) investment
    , ROUND(SUM(i.deducted)/100, 2) deducted
    , ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000 + SUM(i.investment)/100 + SUM(i.deducted)/100, 2) principalAndInterest
    , COUNT(i.id) investmentAmount
    , ip.name platformName
    , ip.id pid
    , i.investor_id investorId
    FROM investment i, investment_platform ip
    WHERE i.platform_id = ip.id
    <![CDATA[
    and now()> i.start_date and now() < i.end_date
    ]]>
    GROUP BY i.investor_id, i.platform_id) t1
    ,
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000, 2) totalProfit
    , ROUND(SUM(i.investment)/100, 2) totalInvestment
    , ROUND(SUM(i.deducted)/100, 2) totalDeducted
    , ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000 + SUM(i.investment)/100 + SUM(i.deducted)/100, 2) totalPrincipalAndInterest
    , COUNT(i.id) totalInvestmentAmount
    , ip.name platformName
    , ip.id pid
    , i.investor_id investorId
    FROM investment i, investment_platform ip
    WHERE i.platform_id = ip.id
    GROUP BY i.investor_id, i.platform_id) t2
    ,
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon))/365/10000, 2) dailyProfit
    , i.platform_id pid
    , i.investor_id investorId
    FROM investment i
    <![CDATA[
    WHERE now()> i.start_date and now() < i.end_date
    ]]>
    GROUP BY i.investor_id, i.platform_id) t3
    WHERE t1.investorId = t2.investorId
    AND t1.pid = t2.pid
    and t1.investorId = t3.investorId
    AND t1.pid = t3.pid
  </select>

  <!-- 查询投资人统计 -->
  <select id="selectInvestorStats" resultType="map">
    SELECT
    t1.investorId
    ,t1.investment
    ,t1.deducted
    ,t1.profit
    ,t1.principalAndInterest
    ,t1.investmentAmount
    ,t3.dailyProfit
    ,t2.totalInvestment
    ,t2.totalDeducted
    ,t2.totalPrincipalAndInterest
    ,t2.totalProfit
    ,t2.totalInvestmentAmount
    FROM
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000, 2) profit
    , ROUND(SUM(i.investment)/100, 2) investment
    , ROUND(SUM(i.deducted)/100, 2) deducted
    , ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000 + SUM(i.investment)/100 + SUM(i.deducted)/100, 2) principalAndInterest
    , COUNT(i.id) investmentAmount
    , i.investor_id investorId
    FROM investment i
    <![CDATA[
    WHERE NOW()> i.start_date AND NOW() < i.end_date
    ]]>
    GROUP BY i.investor_id) t1
    ,
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000, 2) totalProfit
    , ROUND(SUM(i.investment)/100, 2) totalInvestment
    , ROUND(SUM(i.deducted)/100, 2) totalDeducted
    , ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon)* DATEDIFF(i.end_date, i.start_date))/365/10000 + SUM(i.investment)/100 + SUM(i.deducted)/100, 2) totalPrincipalAndInterest
    , COUNT(i.id) totalInvestmentAmount
    , i.investor_id investorId
    FROM investment i
    GROUP BY i.investor_id) t2
    ,
    (
    SELECT ROUND(SUM((i.investment+i.deducted)*(i.profit_ratio+i.interest_coupon))/365/10000, 2) dailyProfit
    , i.investor_id investorId
    FROM investment i
    <![CDATA[
    WHERE NOW()> i.start_date AND NOW() < i.end_date
    ]]>
    GROUP BY i.investor_id) t3
    WHERE t1.investorId = t2.investorId AND t1.investorId = t3.investorId
  </select>
</mapper>