<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.artist.investment.dao.PaymentRecordMapper">
  <resultMap id="BaseResultMap" type="com.artist.investment.domain.PaymentRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="adjust_amount" jdbcType="BIGINT" property="adjustAmount" />
    <result column="balance" jdbcType="BIGINT" property="balance" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="created_name" jdbcType="VARCHAR" property="createdName" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_name, platform_name, name, type, adjust_amount, balance,
    notes, created_name, created
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from payment_record
    where id = #{id,jdbcType=BIGINT}
  </select>

</mapper>