 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="name" id="name" style="width:100%" labelWidth="40" data-options="labelAlign:'right', label:'名称:', validType:'length[0,20]'" />
                            </td>
                            <!--<td style="padding:5px;">-->
                                <!--<input class="easyui-textbox" name="supervisionBank" id="supervisionBank" style="width:100%" labelWidth="100" data-options="labelAlign:'right', label:'资金监管银行:'" />-->
                            <!--</td>-->
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="isRecord" id="isRecord" style="width:100%" data-options="labelAlign:'right', label:'是否备案:'" />
                            </td>
                            <td style="padding:5px;">
                                <input name="securityLevel" id="securityLevel" editable="false" panelHeight="auto" style="width:100%" data-options="labelAlign:'right', label:'安全级别:'" />
                                <#comboProvider _id="securityLevel" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"5"}'/>
                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="投资平台" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="name"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="6%" data-options="field:'name', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            名称
                        </th>
                        <th width="6%" data-options="field:'securityLevelName', _escapeFileds:{securityLevelName:'code'}, _relationTablePkField:'value', _relationTable:'data_dictionary_value',
_fkField:'securityLevel', _provider:'simpleBatchDisplayTextProvider', _queryParams:{'dd_id':'5', 'yn':'1'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            安全级别
                        </th>
                        <th width="7%" data-options="field:'avgProfitRatio', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            平均收益(%)
                        </th>
                        <th width="7%" data-options="field:'supervisionBank', _escapeFileds:{supervisionBank:'code'}, _relationTablePkField:'value', _relationTable:'data_dictionary_value',
_fkField:'supervisionBank', _provider:'simpleBatchDisplayTextProvider', _queryParams:{'dd_id':'4', 'yn':'1'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            资金监管银行
                        </th>
                        <th width="5%" data-options="field:'isRecord', _provider:'yesOrNoProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否备案
                        </th>
                        <th width="4%" data-options="field:'registryPlace', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            注册地
                        </th>
                        <th width="4%" data-options="field:'businessPlace', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            经营地
                        </th>
                        <th width="6%" data-options="field:'platformBackground', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            平台背景
                        </th>
                        <th width="8%" data-options="field:'flexible', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            灵活性
                        </th>
                        <th width="10%" data-options="field:'businessMode', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            业务模式
                        </th>
                        <th width="8%" data-options="field:'guarantee', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            保障
                        </th>
                        <th width="8%" data-options="field:'uptime', _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上线时间
                        </th>
                        <th width="15%" data-options="field:'introduction', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            平台介绍
                        </th>
                        <th width="15%" data-options="field:'notes', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            备注信息
                        </th>
                        <th width="8%" data-options="field:'created', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th width="8%" data-options="field:'modified', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="投资平台" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 486,
				width: 800,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="750px">
            <tr>
                <td style="padding:5px;" width="350">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'名称:',required:true, validType:'length[0,20]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_platformBackground" id="_platformBackground" style="width:100%" data-options="label:'平台背景:', validType:'length[0,120]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_avgProfitRatio" id="_avgProfitRatio" precision="2" style="width:100%" labelWidth="90" data-options="label:'平均收益(%):', validType:'length[0,5]'" />
                </td>
                <td style="padding:5px;">
                    <input name="_securityLevel" id="_securityLevel" editable="false" panelHeight="auto" style="width:100%" data-options="label:'安全级别:', validType:'length[0,8]'" />
                    <#comboProvider _id="_securityLevel" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"5"}'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_registryPlace" id="_registryPlace" style="width:100%" data-options="label:'注册地:', validType:'length[0,10]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_businessPlace" id="_businessPlace" style="width:100%" data-options="label:'经营地:', validType:'length[0,120]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_supervisionBank" id="_supervisionBank" editable="false" style="width:100%" data-options="labelWidth:100, label:'资金监管银行:', validType:'length[0,20]'" />
                    <#comboProvider _id="_supervisionBank" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"4"}'/>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_uptime" id="_uptime" style="width:100%" editable="false" data-options="label:'上线时间:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_isRecord" id="_isRecord" style="width:100%" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'是否备案:'" />
                    <#comboProvider _id="_isRecord" _provider='yesOrNoProvider'/>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_guarantee" id="_guarantee" style="width:100%;" data-options="label:'保障:', validType:'length[0,60]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_businessMode" id="_businessMode" multiline="true" style="width:100%;height:80px;" data-options="label:'业务模式:', validType:'length[0,120]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" multiline="true" name="_notes" id="_notes" style="width:100%;height:80px;" data-options="label:'备注信息:', validType:'length[0,250]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_flexible" id="_flexible" multiline="true" style="width:100%;height:80px;" data-options="label:'灵活性:', validType:'length[0,120]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_introduction" id="_introduction" multiline="true" style="width:100%;height:80px;" data-options="label:'平台介绍:', validType:'length[0,250]'" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_name");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_name");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/investmentPlatform/insert";
            }else{//有id就修改
                _url = "${contextPath}/investmentPlatform/update";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/investmentPlatform/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/investmentPlatform/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "name", queryGrid);
            bindFormEvent("_form", "_name", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }

            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
            pager.pagination({
                <#controls_paginationOpts/>,
                buttons:[
                {
                    iconCls:'icon-add',
                    text:'新增',
                    handler:function(){
                        openInsert();
                    }
                },
                {
                    iconCls:'icon-edit',
                    text:'修改',
                    handler:function(){
                        openUpdate();
                    }
                },
                {
                    iconCls:'icon-remove',
                    text:'删除',
                    handler:function(){
                        del();
                    }
                },
                {
                    iconCls:'icon-export',
                    text:'导出',
                    handler:function(){
                        doExport('grid');
                    }
                }
            ]
        });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>