<#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="likeName" id="name" style="width:100%" data-options="label:'系统名称:', validType:'length[0,50]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="code" id="code" style="width:100%" data-options="label:'系统编码:', validType:'length[0,50]'" />

                            </td>

                            <td style="padding:5px;">
                                   <input name="type" id="type" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="类型:" value=""/>
                                 <#comboProvider _id="type" _provider='systemTypeProvider' _queryParams='{}'/>
                            </td>
                            <td>
                                <a href="#" class="easyui-linkbutton" data-options="width:80"   iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:80"  iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto" align="center" border="false">
            <div style="width: 100%;height: 100%;" align="center">
                <!-- =========================================================表格========================================================= -->
                <table class="easyui-datagrid" title="系统信息列表" id="grid" fitColumns="true" noheader="true"  border="false"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="created" sortOrder="desc"
                   align="center" fit="true" striped="true"
                    idField="id"  data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                       
                        <th data-options="field:'name',width:'9%',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            系统名称
                        </th>
                        <th data-options="field:'code',  width:'8%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            系统编码
                        </th>
                         <th data-options="field:'orderNumber',  width:'5%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            排序号
                        </th>
                        <th data-options="field:'description', width:'9%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            系统描述
                        </th>
                        <th data-options="field:'url',  width:'12%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            系统链接url
                        </th>
                         <th data-options="field:'indexUrl',  width:'12%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            系统首页
                        </th>
                        <th data-options="field:'iconUrl', width:'12%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            图标URL
                        </th>

                        <th data-options="field:'logoUrl', width:'12%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            LOGO URL
                        </th>
                        <th data-options="field:'created', width:'7%', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'modified',width:'7%',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                        <th data-options="field:'type',width:'8%',  _provider:'systemTypeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            类型
                        </th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>

 

    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="系统信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				height: 500,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="500px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'系统名称:', validType:['isWord','length[2,20]']" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_code" id="_code" style="width:100%" data-options="label:'系统编码:', validType:['isWord','length[2,20]']" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_orderNumber" id="_orderNumber" style="width:100%" data-options="label:'排序号:', min:0,precision:0" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_url" id="_url" style="width:100%" data-options="label:'系统链接url:', validType:['url','length[0,100]']" required="true" />
                </td>
            </tr>
                        <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_indexUrl" id="_indexUrl" style="width:100%" data-options="label:'系统首页:', validType:['url','length[0,100]']" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_iconUrl" id="_iconUrl" style="width:100%" data-options="label:'图标URL:', validType:['url','length[0,100]']" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_logoUrl" id="_logoUrl" style="width:100%" data-options="label:'LOGO URL:', validType:['url','length[0,100]']" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                      <input name="_type" id="_type" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="类型:"  required="true" />
                      <#comboProvider _id="_type"  _provider='systemTypeProvider' _queryParams='{}'/>
                </td>
            </tr>
             <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_description" id="_description" style="width:100%" data-options="label:'系统描述:', validType:'length[0,50]',mutiline:true,height:66" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_name");
            $('#_type').combobox("setValue","1");
            
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_name");
            //console.info(selected)
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/system/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/system/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/system/delete.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/system/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "name", queryGrid);
            bindFormEvent("_form", "_name", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            
            var pager = $('#grid').treegrid('getPager');    // get the pager of treegrid
            pager.pagination({
                <#controls_paginationOpts/>
                ,buttons:[
                	
                     <#resource code="insertSystem">
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    </#resource>
                    <#resource code="updateSystem">
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    </#resource>
                    <#resource code="deleteSystem">
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    </#resource>
                    <#resource code="exportSystem">
                	 {
                         iconCls:'icon-export',
                         text:'导出',
                         handler:function(){
                             doExport('grid');
                         }
                     }
                	 </#resource>
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            
            //打开页面时查询
            queryGrid();
            
        })
    </script>
</#body>