 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" >
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <%if(isGroup){%>
                                <td style="padding:5px;">
                                    <input class="easyui-combobox" name="firmCode" id="firmCode" style="width:100%" data-options="label:'所属市场:',editable:false,labelAlign:'right',valueField:'code',textField:'name',
                                       onLoadSuccess:function(){
                                           loadDepartments('','departmentId');
                                           loadRoles('');
                                       },onChange:function(newValue,oldValue){
                                           loadDepartments(newValue,'departmentId');
                                           loadRoles(newValue);
                                       }" panelHeight="auto" />
                                </td>
                            <%}else{%>
                                <td>
                                    <input type="hidden"  name="firmCode" id="firmCode" value="${firmCode}" style="width:100%"/>
                                </td>
                            <%}%>
                            <td style="padding:5px;">
                                <input class="easyui-combotree" name="departmentId" id="departmentId" panelHeight="240%" panelWidth="auto" style="width:108%" data-options="label:'归属部门:',labelAlign:'right',editable:false,_idField:'id',_textField:'name',_parentIdField:'parentId',loadFilter:treeLoadFilter" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="roleId" id="roleId" panelHeight="auto" style="width:103%" data-options="label:'角色类型:',labelAlign:'right',editable:false,valueField:'id',textField:'roleName'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="state" id="state" style="width:92%;" data-options="labelAlign:'right',editable:false,labelWidth:60" panelHeight="auto" label="状态:"/>
                                <#comboProvider _id="state" _provider='userStateProvider'/>
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="keywords" id="keywords" style="width:95%" data-options="prompt:'用户账号/联系手机'" />
                            </td>
                            <td style="padding:5px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a> &nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto"  border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="用户列表" id="userGrid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" sortOrder="desc"
                   align="center" fit="true" striped="true" idField="id" data-options="onClickRow:onClickRow,onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'userName',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            用户账号
                        </th>
                        <th width="10%" data-options="field:'realName',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            真实姓名
                        </th>
                        <th width="15%" data-options="field:'cellphone',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            手机号码
                        </th>
                        <th width="20%" data-options="field:'userRoles',align:'center', resizable:'true', fixed:'false'">
                            角色类型
                        </th>
                        <th width="10%" data-options="field:'firmCode',_provider:'firmCodeProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属市场
                        </th>
                        <th width="10%" data-options="field:'departmentId',_provider:'departmentProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属部门
                        </th>
                        <th width="10%" data-options="field:'state',_provider:'userStateProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            状态
                        </th>
                        <th width="16%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="editDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding:10px;width: 450px;" modal="true" border="thin" closed="true"
         data-options="
				height: 540,
				buttons: [{
				    id:'saveUser',
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="100%">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_userName" id="_userName"  style="width:85%;height:28px;"data-options="labelAlign:'right',label:'&lowast;用户账号:', validType:['isWord','length[4,20]']"
                        required="true" />
                </td>
            </tr>
       <!--     <tr>
                <td style="padding:5px;">
                    <input class="easyui-passwordbox" editable="false" readonly="true" name="_password" id="_password" style="width:85%;height:28px;"  data-options="labelAlign:'right',label:'&lowast;密码:', validType:'length[0,128]',showEye:false" required/>
                </td>
            </tr>-->
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_realName" id="_realName" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;真实姓名:',validateOnBlur:true,validType:['isChinese','length[2,5]'],onValidate:realNameValidate"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;手机号码:', validType:['phoneNum']" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_email" id="_email" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;邮箱:', validType:['email','length[0,64]']" required="true"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_position" id="_position" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'职位:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cardNumber" id="_cardNumber" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'卡号:', validType:'bankCard'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-combobox" name="_firmCode" id="_firmCode" panelWidth="auto" panelHeight="auto" required editable="false"  style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;归属市场:',valueField:'code',textField:'name',
                                        onLoadSuccess:function(){
                                           $('#_firmCode').combobox('select',firmCode);
                                           loadDepartments(firmCode,'_departmentId');
                                       },onChange:function(newValue,oldValue){
                                            loadDepartments(newValue,'_departmentId');
                                       }">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-combotree" name="_departmentId" panelWidth="auto" panelHeight="100%"  editable="false" id="_departmentId" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'归属部门:',_idField:'id',_textField:'name',_parentIdField:'parentId',loadFilter:treeLoadFilter,onLoadSuccess:editDepartmentLoadSuccess">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_description"  id="_description" style="width:85%;height:70px;" data-options="labelAlign:'right',label:'备注:',multiline:true,validType:'length[0,20]'">
                </td>
            </tr>
        </table>
    </form>
    </div>
     <!-- 隐藏查看框 -->
     <div id="viewDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding:10px;width: 420px;" modal="true" border="thin" closed="true"
          data-options="
                    height: 520
                ">
         <form id="_view_form" class="easyui-form" method="post" fit="true" align="center">
             <table width="100%">
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_userName" id="_view_userName"  style="width:90%;height:28px;"data-options="labelAlign:'right',label:'用户账号:',cls:'noborder'"/>
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_realName" id="_view_realName" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'真实姓名:',cls:'noborder'"/>
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_cellphone" id="_view_cellphone" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'手机号码:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_email" id="_view_email" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'邮箱:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_position" id="_view_position" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'职位:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_cardNumber" id="_view_cardNumber" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'卡号:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_firmCode" id="_view_firmCode" editable="false"  style="width:90%;height:28px;" data-options="labelAlign:'right',label:'归属市场:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_departmentId"  editable="false" id="_view_departmentId" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'归属部门:',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_state"  editable="false" id="_view_state" style="width:90%;height:28px;" data-options="labelAlign:'right',label:'状态',cls:'noborder'" />
                     </td>
                 </tr>
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-textbox" name="_view_description"  id="_view_description" style="width:90%;height:60px;" data-options="labelAlign:'right',label:'备注:',multiline:true,cls:'noborder'" />
                     </td>
                 </tr>
             </table>
         </form>
     </div>

     <!-- 用户角色编辑框 -->
     <div id="userRoleDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="角色分配" style="width: 420px;" modal="true" border="thin" closed="true"
          data-options="
                        height: 520,
                        buttons: [{
                            text:'确认',
                            iconCls:'icon-ok',
                            handler:saveUserRoles
                        }]
                    ">
         <div style="margin:10px 0">
             <input class="easyui-textbox"  editable="false" readonly id="role_userName" style="width:400px;height:28px;" data-options="labelAlign:'right',label:'用户账号:',cls:'noborder'" />
         </div>
         <div style="margin-left:20px;">
             <ui>请选择角色类型:</ui>
         </div>
         <div class="easyui-panel" style="margin-left:20px;padding:10px;width: 95%;height: 360px;">
             <ui id="roleTree" class="easyui-tree" style="width: 90%;" data-options="checkbox:true,_idField:'treeId',_textField:'name',_parentIdField:'parentId',loadFilter:treeLoadFilter"></ui>
         </div>
     </div>

     <!-- 用户权限编辑框 -->
     <div id="userDataDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="数据权限" style="width: 420px;" modal="true" border="thin" closed="true"
          data-options="
                            height: 550,
                            buttons: [{
                                text:'确认',
                                iconCls:'icon-ok',
                                handler:saveUserDatas
                            }]
                        ">
         <div style="margin:10px 0">
             <input class="easyui-textbox"  editable="false" readonly id="data_userName" style="width:400px;height:28px;" data-options="labelAlign:'right',label:'用户账号:',cls:'noborder'" />
         </div>
         <div style="margin-left:20px;">
             <ui>请选择数据权限:</ui>
             <ui id="dataRangeDiv"></ui>
         </div>
         <div class="easyui-panel" style="margin-left:20px;padding:10px;width: 95%;height: 350px;">
             <ui id="dataTree" class="easyui-tree" style="width: 90%;" data-options="checkbox:true,_idField:'treeId',_textField:'name',_parentIdField:'parentId',loadFilter:treeLoadFilter,cascadeCheck:false"></ui>
         </div>
     </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <#user_commonJs />
    <#user_indexJs />
</#body>