 <#body>

     <script>
         //根据项目期限和期限单位计算结束日期
         function compute_EndDate(newValue, oldValue) {
             //没有项目期限不计算
             var projectDuration = $("#_projectDuration").numberbox("getValue");

             if(projectDuration == ""){
                 return;
             }
             //没有项目期限单位不计算
             var projectDurationUnit = $("#_projectDurationUnit").combobox("getValue");
             if(projectDurationUnit == ""){
                 return;
             }
             var startDate = $("#_startDate").datebox("getValue");
             var endDate = $("#_endDate").datebox("getValue");

             //开始结束时间都没有，则不计算
             if(startDate == "" && endDate == ""){
                 return;
             }
             //只有开始时间，则计算结束时间
             if(endDate == ""){
                 setEndDate(projectDuration, projectDurationUnit, startDate, "_endDate");
             }//只有结束时间，则计算开始时间
             else if(startDate == ""){
                 setStartDate(projectDuration, projectDurationUnit, endDate, "_startDate");
             }//开始结束都有还是要重新计算结束时间
             else{
                 setEndDate(projectDuration, projectDurationUnit, startDate, "_endDate");
             }
         }
         //根据项目期限和期限单位计算结束日期
         function computeEndDate(newValue, oldValue) {
             //没有项目期限不计算
             var projectDuration = $("#projectDuration").numberbox("getValue");
             if(projectDuration == ""){
                 return;
             }
             //没有项目期限单位不计算
             var projectDurationUnit = $("#projectDurationUnit").combobox("getValue");
             if(projectDurationUnit == ""){
                 return;
             }
             var startDate = $("#startDate").datebox("getValue");
             var endDate = $("#endDate").datebox("getValue");

             //开始结束时间都没有，则不计算
             if(startDate == "" && endDate == ""){
                 return;
             }
             //只有开始时间，则计算结束时间
             if(endDate == ""){
                 setEndDate(projectDuration, projectDurationUnit, startDate, "endDate");
             }//只有结束时间，则计算开始时间
             else if(startDate == ""){
                 setStartDate(projectDuration, projectDurationUnit, endDate, "startDate");
             }//开始结束都有还是要重新计算结束时间
             else{
                 setEndDate(projectDuration, projectDurationUnit, startDate, "endDate");
             }
         }
         //设置结束日期
         function setEndDate(projectDuration, projectDurationUnit, startDate, endDateId){
             var ss = startDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
             d-=1;
             //计算天
             if(projectDurationUnit == 1){
                 d+=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d+=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m+=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m+=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y+=parseInt(projectDuration);
             }
             $("#"+endDateId).datebox("setValue", y+"-"+m+"-"+d);
         }
         //设置开始日期
         function setStartDate(projectDuration, projectDurationUnit, endDate, startDateId){
             var ss = endDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
             d+=1;
             //计算天
             if(projectDurationUnit == 1){
                 d-=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d-=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m-=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m-=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y-=parseInt(projectDuration);
             }
             $("#"+startDateId).datebox("setValue", y+"-"+m+"-"+d);
         }
         //初始化项目期限单位为"月", 用initValue和setText代码setValue避免触发onchange事件
         function initProjectDurationUnit() {
             $("#projectDurationUnit").combobox("initValue", "3");
             $("#projectDurationUnit").combobox("setText", "月");
         }
         //初始化项目期限单位为"月", 用initValue和setText代码setValue避免触发onchange事件
         function init_ProjectDurationUnit() {
             $("#_projectDurationUnit").combobox("initValue", "3");
             $("#_projectDurationUnit").combobox("setText", "月");
         }
     </script>

    <div class="easyui-layout" fit="true">
        <div region="north" style="width:100%;" height="270" >
            <div align="left">
                <#nav/>
            </div>
            <div class="easyui-panel" title="根据投资额计算收益">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table width="750px" style="padding-left: 50px;padding-top: 10px;">
                        <tr>
                            <td style="padding:5px;width:34%;">
                                <input class="easyui-numberbox" precision="2" min="0" name="investment" id="investment" style="width:100%" data-options="required:true,label:'投资额(元):'" />
                            </td>
                            <td style="padding:5px;width:33%;">
                                <input class="easyui-numberbox" name="profitRatio" id="profitRatio" labelWidth="90" precision="2" style="width:100%" data-options="required:true,label:'年化利率(%):'" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" precision="2" min="0" name="deducted" id="deducted" style="width:100%" data-options="label:'已抵扣(元):'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" precision="2" min="0" name="interestCoupon" id="interestCoupon" style="width:100%" data-options="label:'加息率(%):'" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-datebox" name="startDate" id="startDate" style="width:100%" data-options="required:true, editable:false, label:'起始日期:'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datebox" name="endDate" id="endDate" style="width:100%" data-options="label:'结束日期:', editable:false" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datebox" name="currentDate" id="currentDate" style="width:100%" data-options="label:'当前日期:', editable:false, prompt:'计算当前收益'" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="projectDuration" id="projectDuration" style="width:100%" data-options="label:'项目期限:', onChange:computeEndDate" />
                            </td>
                            <td style="padding:5px;">
                                <input name="projectDurationUnit" id="projectDurationUnit" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="期限单位:"
                                       data-options="onChange:computeEndDate, onLoadSuccess:initProjectDurationUnit"/>
                                <#comboProvider _id="projectDurationUnit" _provider='projectDurationUnitProvider'/>
                            </td>
                            <td><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="calculate()">计算</a></td>
                        </tr>

                    </table>
                </form>
            </div>
            <form id="resultForm" class="easyui-form" method="post" fit="true">
                <table width="750px" height="30px" style="padding-left: 50px;padding-top: 10px;">
                    <tr>
                        <td style="padding:5px;width:34%;">
                            <input class="easyui-numberbox" precision="2" min="0" name="profit" id="profit" labelWidth="90" style="width:100%" data-options="label:'预期收益(元):'" />
                        </td>
                        <td style="padding:5px;width:33%;">
                            <input class="easyui-numberbox" precision="2" min="0" name="currentProfit" id="currentProfit" labelWidth="90" style="width:100%"  data-options="label:'当前收益(元):'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-numberbox" name="principalAndInterest" id="principalAndInterest" labelWidth="90" style="width:100%"  data-options="label:'本息合计(元):'" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <div region="center" style="width:100%;" height="auto" title="根据收益计算投资额">
            <form id="_form" class="easyui-form" method="post" fit="true">
                <table width="750px" style="padding-left: 50px;padding-top: 10px;">
                    <tr>
                        <td style="padding:5px;width:34%;">
                            <input class="easyui-switchbutton" id="_type" name="_type" data-options="onText:'收益',offText:'本息合计'" checked="true" style="width:35%" >
                            &nbsp;&nbsp;
                            <input class="easyui-numberbox" precision="2" min="0" name="_profit" id="_profit" style="width:57%" data-options="required:true" />
                        </td>
                        <td style="padding:5px;width:33%;">
                            <input class="easyui-numberbox" name="_profitRatio" id="_profitRatio" labelWidth="90" precision="2" style="width:100%" data-options="required:true,label:'年化利率(%):'" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="_startDate" id="_startDate" style="width:100%" data-options="required:true, editable:false, label:'起始日期:'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="_endDate" id="_endDate" style="width:100%" data-options="label:'结束日期:', editable:false" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-numberbox" name="_projectDuration" id="_projectDuration" style="width:100%" data-options="label:'项目期限:', onChange:compute_EndDate" />
                        </td>
                        <td style="padding:5px;">
                            <input name="_projectDurationUnit" id="_projectDurationUnit" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="期限单位:"
                                   data-options=" onChange:compute_EndDate, onLoadSuccess:init_ProjectDurationUnit"/>
                            <#comboProvider _id="_projectDurationUnit" _provider='projectDurationUnitProvider'/>
                        </td>
                        <td><a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="_calculate()">计算</a></td>
                    </tr>

                </table>
            </form>
            <hr/>
            <form id="_resultForm" class="easyui-form" method="post" fit="true">
                <table width="750px" style="padding-left: 50px;padding-top:0px;">
                    <tr>
                        <td style="padding:5px;width:34%;">
                            <input class="easyui-numberbox" precision="2" min="0" name="_investment" id="_investment" labelWidth="90" style="width:100%;" data-options="label:'投资额(元):'" />
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //求两个日期相差天数
        //date1和date2是2006-12-18格式
        function dateDifference(date1 , date2){
            var date1Str = date1.split("-");//将日期字符串分隔为数组,数组元素分别为年.月.日
            //根据年 . 月 . 日的值创建Date对象
            var date1Obj = new Date(date1Str[0],(date1Str[1]-1),date1Str[2]);
            var date2Str = date2.split("-");
            var date2Obj = new Date(date2Str[0],(date2Str[1]-1),date2Str[2]);
            var t1 = date1Obj.getTime();
            var t2 = date2Obj.getTime();
            var dateTime = 1000*60*60*24; //每一天的毫秒数
            var minusDays = Math.floor(((t2-t1)/dateTime));//计算出两个日期的天数差
            var days = Math.abs(minusDays);//取绝对值
            return days;
        }

        function toFloat(value) {
            if(value == null || value == ""){
                return 0;
            }
            return parseFloat(value);
        }
        //计算收益
        function calculate(){
            if(!$('#form').form("validate")){
                return;
            }
//            var formData = $("#form").serializeObject(true);
            var startDate = $("#startDate").datebox("getValue");
            var endDate = $("#endDate").datebox("getValue");
            var currentDate = $("#currentDate").datebox("getValue");
            var investment = toFloat($("#investment").numberbox("getValue"));
            var profitRatio = toFloat($("#profitRatio").numberbox("getValue"));
            var deducted = toFloat($("#deducted").numberbox("getValue"));
            var interestCoupon = toFloat($("#interestCoupon").numberbox("getValue"));

//            var projectDuration = $("#projectDuration").numberbox("getValue");
//            var projectDurationUnit = $("#projectDurationUnit").combobox("getValue");
            //计算相关天数
            var fullDates = dateDifference(startDate, endDate);
            var currentDates = dateDifference(startDate, currentDate);
            //预期收益: (投资额 + 抵扣额) * (年化收益率 + 利率加息券) * 收益总天数 / 365 / 100%
            var profit = (investment + deducted)*(profitRatio+interestCoupon)*fullDates/365/100;
            //当前收益: (投资额 + 抵扣额) * (年化收益率 + 利率加息券) * 当前投资天数 / 365 / 100%
            var currentProfit = (investment + deducted)*(profitRatio+interestCoupon)*currentDates/365/100;
            //本息合计
            var principalAndInterest = profit + investment +deducted;
            $("#profit").numberbox("setValue", profit);
            $("#currentProfit").numberbox("setValue", currentProfit);
            $("#principalAndInterest").numberbox("setValue", principalAndInterest);
        }

        //计算投资额
        function _calculate() {
            if (!$('#_form').form("validate")) {
                return;
            }
            var startDate = $("#_startDate").datebox("getValue");
            var endDate = $("#_endDate").datebox("getValue");
            var profitRatio = toFloat($("#_profitRatio").numberbox("getValue"));
            var profit = toFloat($("#_profit").numberbox("getValue"));
            var checked = $("#_type").switchbutton("options").checked;
            //计算相关天数
            var fullDates = dateDifference(startDate, endDate);
            //根据收益计算投资额
            if(checked){
                //投资额=收益/利率/共计天数*365*100%
                var investment=profit/profitRatio/fullDates*365*100;
            }//根据本息合计计算投资额
            else{
                var principalAndInterest = profit;
//              公式:principalAndInterest = investment*profitRatio*fullDates/36500 + investment  -> investment = principalAndInterest /(profitRatio*fullDates/36500 +1)
                var investment = principalAndInterest /(profitRatio*fullDates/36500 +1);
            }
            $("#_investment").numberbox("setValue", investment);
        }

            //清空表单
        function clearForm() {
            $('#form').form('clear');
        }
        //获取当前日期
        function getCurrentDate() {
            var date = new Date();
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return y + '-' + m + '-' + d;
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            //设置当前日期
            $("#currentDate").datebox("setValue", getCurrentDate());
            $("#startDate").datebox("setValue", getCurrentDate());
            $("#_startDate").datebox("setValue", getCurrentDate());

        })
    </script>
</#body>