 <#body>
     <#controls_user dlgId="userSelectDialog" controlId="_investorId"/>
     <#controls_bankCard dlgId="bankCardSelectDialog" controlId="_bankCardId"/>
     <script>
         //根据项目期限和期限单位计算结束日期
         function computeEndDate(newValue, oldValue) {
             //没有项目期限不计算
             var projectDuration = $("#_projectDuration").textbox("getValue");
             if(projectDuration == ""){
                 return;
             }
             //没有项目期限单位不计算
             var projectDurationUnit = $("#_projectDurationUnit").combobox("getValue");
             if(projectDurationUnit == ""){
                 return;
             }
             var startDate = $("#_startDate").datebox("getValue");
             var endDate = $("#_endDate").datebox("getValue");

             //开始结束时间都没有，则不计算
             if(startDate == "" && endDate == ""){
                 return;
             }
             //只有开始时间，则计算结束时间
             if(endDate == ""){
                 setEndDate(projectDuration, projectDurationUnit, startDate);
             }//只有结束时间，则计算开始时间
             else if(startDate == ""){
                 setStartDate(projectDuration, projectDurationUnit, endDate);
             }//开始结束都有还是要重新计算结束时间
             else{
                 setEndDate(projectDuration, projectDurationUnit, startDate);
             }
         }
         //设置结束日期
         function setEndDate(projectDuration, projectDurationUnit, startDate){
             var ss = startDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
             d-=1;
             //计算天
             if(projectDurationUnit == 1){
                 d+=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d+=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m+=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m+=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y+=parseInt(projectDuration);
             }
             $("#_endDate").datebox("setValue", y+"-"+m+"-"+d);
         }
         //设置开始日期
         function setStartDate(projectDuration, projectDurationUnit, endDate){
             var ss = endDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
             d+=1;
             //计算天
             if(projectDurationUnit == 1){
                 d-=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d-=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m-=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m-=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y-=parseInt(projectDuration);
             }
             $("#_startDate").datebox("setValue", y+"-"+m+"-"+d);
         }
     </script>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="investorId" id="investorId" style="width:100%" labelAlign="right" data-options="label:'投资人:', validType:'length[0,19]'" />
                            </td>
                            <td style="padding:5px;">
                                <input name="platformId" id="platformId" style="width:100%" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" data-options="label:'投资平台:'" />
                                <#comboProvider _id="platformId" _provider='platformProvider'/>
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="projectName" id="projectName" style="width:100%" labelAlign="right" data-options="label:'项目名称:', validType:'length[0,50]'" />

                            </td>
                            <td style="padding:5px;">
                                <input name="isProgressing" id="isProgressing" style="width:100%;" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" label="是否投资中:"/>
                                <#comboProvider _id="isProgressing" _provider='isProgressingProvider'/>
                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="投资记录" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="investorId"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th data-options="field:'investorId',  _provider:'userProvider', _escapeFileds:{investorId:'realName', createdId:'realName', modifiedId:'realName'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资人
                        </th>
                        <th data-options="field:'platformName', _provider:'platformProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资平台
                        </th>
                        <th data-options="field:'projectName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目名称
                        </th>
                        <th data-options="field:'startDate', _index:18, _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            起始日期
                        </th>
                        <th data-options="field:'endDate', _index:19,  _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            结束日期
                        </th>
                        <th data-options="field:'projectDuration', _provider:'projectDurationProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目期限
                        </th>
                        <!--<th data-options="field:'projectDurationUnit', _provider:'projectDurationUnitProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">-->
                            <!--项目期限单位-->
                        <!--</th>-->
                        <th data-options="field:'profitRatio',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            年化利率(%)
                        </th>
                        <th data-options="field:'deducted', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            已抵扣
                        </th>
                        <th data-options="field:'interestCoupon',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            利率券(%)
                        </th>
                        <th data-options="field:'cashCoupon', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            优惠券
                        </th>
                        <th data-options="field:'investment', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资额
                        </th>
                        <th data-options="field:'isRemind',  _provider:'yesOrNoProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否到期提醒
                        </th>
                        <th data-options="field:'isProgressing',  _provider:'isProgressingProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否投资中
                        </th>
                        <th data-options="field:'bankCardId', _provider:'bankCardProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            银行卡
                        </th>
                        <th data-options="field:'currentProfit', _index:16, _provider:'currentProfitProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            已得收益
                        </th>
                        <th data-options="field:'expectProfit', _index:17, _provider:'expectProfitProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            预计收益
                        </th>
                        <th data-options="field:'exitDays', _index:15, _provider:'exitDaysProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            距退出(天)
                        </th>
                        <th data-options="field:'notes', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            备注
                        </th>
                        <th data-options="field:'createdId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建人
                        </th>
                        <th data-options="field:'modifiedId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改人
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="投资记录" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 465,
				width: 800,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="750px">
            <tr>
                <td style="padding:5px;" width="350">
                    <input class="easyui-textbox" name="_investorId" id="_investorId"  panelHeight="auto" label="投资人:" style="width: 100%;"
                           data-options="required:true,editable:false,buttonText:'选择',onClickButton:_selectUser,onChange:_changeTextboxShowClear" />
                </td>
                <td style="padding:5px;">
                    <input name="_platformId" id="_platformId" style="width:100%" editable="false" panelWidth="auto" panelHeight="auto" data-options="required:true,label:'投资平台:'" />
                    <#comboProvider _id="_platformId" _provider='platformProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_projectName" id="_projectName" style="width:100%" data-options="required:true,label:'项目名称:', validType:'length[0,50]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_profitRatio" id="_profitRatio" labelWidth="90" precision="2" style="width:100%" data-options="required:true,label:'年化利率(%):'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_startDate" id="_startDate" style="width:100%" data-options="required:true, label:'起始日期:'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_endDate" id="_endDate" style="width:100%" data-options="required:true, label:'结束日期:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_projectDuration" id="_projectDuration" style="width:100%" data-options="required:true, label:'项目期限:', onChange:computeEndDate" />
                </td>
                <td style="padding:5px;">
                       <input name="_projectDurationUnit" id="_projectDurationUnit" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="期限单位:" data-options="required:true, onChange:computeEndDate"/>
                       <#comboProvider _id="_projectDurationUnit" _provider='projectDurationUnitProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_investment" id="_investment" style="width:100%" data-options="required:true,label:'投资额:'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" min="0" name="_deducted" id="_deducted" style="width:100%" data-options="label:'已抵扣:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_interestCoupon" precision="2" id="_interestCoupon" style="width:100%" data-options="label:'加息券:'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="0" min="0" name="_cashCoupon" id="_cashCoupon" style="width:100%" data-options="label:'现金券:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;" valign="top">
                    <input class="easyui-textbox" name="_bankCardId" id="_bankCardId"  panelHeight="auto" label="银行卡:" style="width: 100%;"
                           data-options="required:true, editable:false,buttonText:'选择',onClickButton:_selectBankCard,onChange:_changeTextboxShowClear" />
                </td>
                <td style="padding:5px;">
                       <input name="_isRemind" id="_isRemind" style="width:100%;" labelWidth="100" editable="false" panelWidth="auto" panelHeight="auto" label="是否到期提醒:" />
                       <#comboProvider _id="_isRemind" _provider='yesOrNoProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox" name="_notes"  id="_notes" multiline="true" style="width:100%;height:80px;"  data-options="label:'备注:', validType:'length[0,250]'" />
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_investorId");
            //默认到期不提醒
            $("#_isRemind").combobox("setValue", "0");
            //单独加载所属用户
            $("#_investorId").textbox("initValue", '<#userTicket field="id"/>');
            $("#_investorId").textbox("setText", '<#userTicket field="realName"/>');
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_investorId");
            var formData = $.extend({},selected);
            //现金券、已抵扣、实际支付和投资额不取原始值
            formData[orginal_key_prefix + "cashCoupon"] = formData["cashCoupon"];
            formData[orginal_key_prefix + "deducted"] = formData["deducted"];
            formData[orginal_key_prefix + "investment"] = formData["investment"];
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
            //加载所属用户
            $("#_investorId").textbox("initValue", selected["$_investorId"]);
            $("#_investorId").textbox("setText", selected["investorId"]);
            //加载银行卡
            $("#_bankCardId").textbox("initValue", selected["$_bankCardId"]);
            $("#_bankCardId").textbox("setText", selected["bankCardId"]);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
//            alert(JSON.stringify(_formData));return;
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/investment/insert";
            }else{//有id就修改
                _url = "${contextPath}/investment/update";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/investment/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/investment/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "investorId", queryGrid);
            bindFormEvent("_form", "_investorId", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>