 <#body>
     <#controls_user dlgId="_userSelectDialog" controlId="_investorId"/>
     <#controls_bankCard dlgId="bankCardSelectDialog" controlId="_bankCardId"/>

     <script>
         //根据项目期限和期限单位计算结束日期
         function computeEndDate(newValue, oldValue) {
             //没有项目期限不计算
             var projectDuration = $("#_projectDuration").textbox("getValue");
             if(projectDuration == ""){
                 return;
             }
             //没有项目期限单位不计算
             var projectDurationUnit = $("#_projectDurationUnit").combobox("getValue");
             if(projectDurationUnit == ""){
                 return;
             }
             var startDate = $("#_startDate").datebox("getValue");
             var endDate = $("#_endDate").datebox("getValue");

             //开始结束时间都没有，则不计算
             if(startDate == "" && endDate == ""){
                 return;
             }
             //只有开始时间，则计算结束时间
             if(endDate == ""){
                 setEndDate(projectDuration, projectDurationUnit, startDate);
             }//只有结束时间，则计算开始时间
             else if(startDate == ""){
                 setStartDate(projectDuration, projectDurationUnit, endDate);
             }//开始结束都有还是要重新计算结束时间
             else{
                 setEndDate(projectDuration, projectDurationUnit, startDate);
             }
         }
         //设置结束日期
         function setEndDate(projectDuration, projectDurationUnit, startDate){
             var ss = startDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
//             d-=1;
             //计算天
             if(projectDurationUnit == 1){
                 d+=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d+=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m+=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m+=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y+=parseInt(projectDuration);
             }
             $("#_endDate").datebox("setValue", y+"-"+m+"-"+d);
         }
         //设置开始日期
         function setStartDate(projectDuration, projectDurationUnit, endDate){
             var ss = endDate.split('-');
             var y = parseInt(ss[0],10);
             var m = parseInt(ss[1],10);
             var d = parseInt(ss[2],10);
             if (isNaN(y) || isNaN(m) || isNaN(d)){
                 return;
             }
             //减一天
//             d+=1;
             //计算天
             if(projectDurationUnit == 1){
                 d-=parseInt(projectDuration);
             }//计算周
             else if(projectDurationUnit == 2){
                 d-=parseInt(projectDuration)*7;
             }//计算月
             else if(projectDurationUnit == 3){
                 m-=parseInt(projectDuration);
             }//计算季
             else if(projectDurationUnit == 4){
                 m-=parseInt(projectDuration)*3;
             }//计算年
             else if(projectDurationUnit == 5){
                 y-=parseInt(projectDuration);
             }
             $("#_startDate").datebox("setValue", y+"-"+m+"-"+d);
         }

         function ymdDateFormatter (date) {
             var year = date.getFullYear().toString();
             var month = (date.getMonth() + 1);
             var day = date.getDate().toString();
             var hour = date.getHours().toString();
             var minutes = date.getMinutes().toString();
             var seconds = date.getSeconds().toString();
             if (month < 10) {
                 month = "0" + month;
             }
             if (day < 10) {
                 day = "0" + day;
             }
             return year + "-" + month + "-" + day;
         }

         //求两个日期相差天数
         //date1和date2是2006-12-18格式: date2-data1天数
         function dateDifference(date1 , date2){
             var date1Str = date1.split("-");//将日期字符串分隔为数组,数组元素分别为年.月.日
             //根据年 . 月 . 日的值创建Date对象
             var date1Obj = new Date(date1Str[0],(date1Str[1]-1),date1Str[2]);
             var date2Str = date2.split("-");
             var date2Obj = new Date(date2Str[0],(date2Str[1]-1),date2Str[2]);
             var t1 = date1Obj.getTime();
             var t2 = date2Obj.getTime();
             var dateTime = 1000*60*60*24; //每一天的毫秒数
             var minusDays = Math.floor(((t2-t1)/dateTime));//计算出两个日期的天数差
//             var days = Math.abs(minusDays);//取绝对值
             return minusDays;
         }
         //表格行样式，过期为灰色，即将到期为绿色
         function rowStyler(index, row) {
             if (row.isExpired !=null && row.isExpired == "是"){
                 return "expiredRow";
             }
             if(row.endDate == null || row.endDate == ""){
                return;
             }
             var difDates = dateDifference(ymdDateFormatter(new Date()), row.endDate);
             if (row.isExpired !=null && row.isExpired == "否" && difDates<=30){
                 return "expiringRow";
             }
         }
     </script>

    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="investorId" id="investorId"  panelHeight="auto" labelAlign="right" label="投资人:" style="width: 100%;"
                                       data-options="editable:false,buttonText:'选择',onClickButton:_selectUser,onChange:_changeTextboxShowClear" />
                            </td>
                            <td style="padding:5px;">
                                <input name="platformId" id="platformId" style="width:100%" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" data-options="label:'投资平台:'" />
                                <#comboProvider _id="platformId" _provider='platformProvider'/>
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="projectName" id="projectName" style="width:100%" labelAlign="right" data-options="label:'项目名称:', validType:'length[0,50]'" />

                            </td>
                            <td style="padding:5px;">
                                <input name="isProgressing" id="isProgressing" style="width:100%;" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" label="是否投资中:"/>
                                <#comboProvider _id="isProgressing" _provider='isProgressingProvider'/>
                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto" border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="投资记录" id="grid" fitColumns="true" noheader="true" pageList="[50,100,200]"
                   pagination="true" pageSize="50" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="true" border="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="created" sortOrder="desc"
                   align="center" fit="true" striped="false" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu, rowStyler:rowStyler, showFooter:true,view:footerView">
                <thead>
                    <tr>
                        <th data-options="field:'investorId',  _provider:'userProvider', _escapeFileds:{investorId:'realName', createdId:'realName', modifiedId:'realName'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资人
                        </th>
                        <th data-options="field:'platformName', _provider:'platformProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资平台
                        </th>
                        <th data-options="field:'projectName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目名称
                        </th>
                        <th data-options="field:'startDate', _index:20, _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            起始日期
                        </th>
                        <th data-options="field:'endDate', _index:19,  _provider:'dateProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            结束日期
                        </th>
                        <th data-options="field:'projectDuration', _provider:'projectDurationProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目期限
                        </th>
                        <th data-options="field:'profitRatio',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            年化利率(%)
                        </th>
                        <th data-options="field:'investment', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资额
                        </th>
                        <th data-options="field:'deducted', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            已抵扣
                        </th>
                        <th data-options="field:'interestCoupon',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            加息率(%)
                        </th>
                        <th data-options="field:'cashCoupon', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            返券
                        </th>
                        <th data-options="field:'repaymentMethod', _provider:'repaymentMethodProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            还款方式
                        </th>
                        <th data-options="field:'repaymentDay', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            还款日
                        </th>
                        <th data-options="field:'monthlyRepayment', _index:85,  _provider:'monthlyRepaymentProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            每月到帐
                        </th>
                        <th data-options="field:'currentProfit', _index:16, _provider:'currentProfitProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            预估当前收益
                        </th>
                        <th data-options="field:'expectProfit', _index:17, _provider:'expectProfitProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            预计收益
                        </th>
                        <th data-options="field:'principalAndInterest', _provider:'principalAndInterestProvider', _index:18, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            本息合计
                        </th>
                        <th data-options="field:'arrived', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            到期金额
                        </th>
                        <th data-options="field:'balanceDue', _provider:'centToYuanProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            到期余额
                        </th>
                        <th data-options="field:'exitDays', _index:15, _provider:'exitDaysProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            距退出(天)
                        </th>
                        <th data-options="field:'isExpired',  _provider:'yesOrNoProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否到期
                        </th>
                        <th data-options="field:'bankCardId', _provider:'bankCardProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            银行卡
                        </th>
                        <th data-options="field:'notes', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            备注
                        </th>
                        <th data-options="field:'createdId',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建人
                        </th>
                        <th data-options="field:'modifiedId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改人
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="投资记录" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 535,
				width: 800,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="750px">
            <tr>
                <td style="padding:5px;" width="350">
                    <input class="easyui-textbox" name="_investorId" id="_investorId"  panelHeight="auto" label="投资人:" style="width: 100%;"
                           data-options="required:true,editable:false,buttonText:'选择',onClickButton:_selectUser,onChange:_changeTextboxShowClear" />
                </td>
                <td style="padding:5px;">
                    <input name="_platformId" id="_platformId" style="width:100%" editable="false" panelWidth="auto" panelHeight="auto" data-options="required:true,label:'投资平台:'" />
                    <#comboProvider _id="_platformId" _provider='platformProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_projectName" id="_projectName" style="width:100%" data-options="required:true,label:'项目名称:', validType:'length[0,50]'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_profitRatio" id="_profitRatio" labelWidth="90" precision="2" style="width:100%" data-options="required:true,label:'年化利率(%):'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_startDate" id="_startDate" style="width:100%" data-options="required:true, label:'起始日期:', onSelect:selectRepaymentDay" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_endDate" id="_endDate" style="width:100%" data-options="label:'结束日期:',prompt:'活期填空'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_projectDuration" id="_projectDuration" style="width:100%" data-options="label:'项目期限:', onChange:computeEndDate" />
                </td>
                <td style="padding:5px;">
                       <input name="_projectDurationUnit" id="_projectDurationUnit" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="期限单位:" data-options=" onChange:computeEndDate"/>
                       <#comboProvider _id="_projectDurationUnit" _provider='projectDurationUnitProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_investment" id="_investment" style="width:100%" data-options="required:true,label:'投资额(元):'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_deducted" id="_deducted" style="width:100%" data-options="label:'已抵扣(元):'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_interestCoupon" id="_interestCoupon" style="width:100%" data-options="label:'加息率(%):'" />
                </td>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" precision="2" min="0" name="_cashCoupon" id="_cashCoupon" style="width:100%" data-options="label:'返券(元):'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_repaymentMethod" id="_repaymentMethod" style="width:100%;" editable="false" panelWidth="auto" panelHeight="auto" label="还款方式:" />
                    <#comboProvider _id="_repaymentMethod" _provider='repaymentMethodProvider'/>
                </td>
                <td style="padding:5px;">
                    <input name="_repaymentDay" id="_repaymentDay" style="width:100%;" class="easyui-numberbox" max="31" min="1" label="还款日:" />
                </td>
            </tr>
            <tr >
                <td style="padding:5px;">
                    <input name="_monthIndex" id="_monthIndex" style="width:100%;" class="easyui-numberbox" max="31" min="1" labelWidth="100" label="已还款月序号:" />
                </td>
                <td>
                    <span style="color: #ff9090;font-size: 12px;">(用于等额本息和每月付息方式，修改后调度器会重新计算还款额)</span>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_bankCardId" id="_bankCardId"  panelHeight="auto" label="银行卡:" style="width: 100%;"
                           data-options="required:true, editable:false,buttonText:'选择',onClickButton:_selectBankCard,onChange:_changeTextboxShowClear" />
                </td>
                <td style="padding:5px;">
                       <input name="_adjustBalance" id="_adjustBalance" style="width:100%;" labelWidth="100" editable="false" panelWidth="auto" panelHeight="auto" label="是否调整余额:" />
                       <#comboProvider _id="_adjustBalance" _provider='yesOrNoProvider'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox" name="_notes"  id="_notes" multiline="true" style="width:100%;height:80px;"  data-options="label:'备注:', validType:'length[0,250]'" />
                </td>
            </tr>
        </table>
    </form>
    </div>

     <!--  到期金额框 -->
     <div id="arrived_dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="提前到期设置" style="padding:20px" modal="true" border="thin" closed="true"
          data-options="
				iconCls: 'icon-save',
				height: 155,
				width: 300,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveArrived
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#arrived_dlg').dialog('close');
					}
				}]
			">
         <form id="arrived_form" class="easyui-form" method="post" fit="true">
             <input name="arrived_id" id="arrived_id" type="hidden">
             <table width="270px">
                 <tr>
                     <td style="padding:5px;">
                         <input class="easyui-numberbox" name="arrived" id="arrived" labelWidth="90" precision="2" style="width:100%" data-options="label:'提前到期(元):',required:true" />
                     </td>
                 </tr>
             </table>
         </form>
     </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        /**
         * 选择开始日期，级联设置还款日
         */
        function selectRepaymentDay(newValue, oldValue) {
            if(!newValue || newValue == null){
                return;
            }
            $("#_repaymentDay").numberbox("setValue", newValue.getDate());
        }
        //打开提前到期框
        function openArrived() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            if(selected["isExpired"] == "是"){
                $.messager.alert('警告',"["+selected["projectName"]+']已经到期');
                return;
            }
            $('#arrived_dlg').dialog('open');
            $('#arrived_dlg').dialog('center');
            $('#arrived_form').form('clear');
            formFocus("arrived_form", "arrived");
            $("#arrived_id").val(selected["id"]);
        }

        //保存提前到期设置
        function saveArrived() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            if(!$('#arrived_form').form("validate")){
                return;
            }
            var arrived = $("#arrived").numberbox("getValue");
            if(arrived == null || arrived.trim() == "" || arrived == "0"){
                return;
            }
            $.ajax({
                type: "POST",
                url: "${contextPath}/investment/adjustArrived.action",
                data: {id:selected.id, arrived:arrived},
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#arrived_dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_investorId");
            //默认要调整余额
            $("#_adjustBalance").combobox("setValue", "1");
            //默认项目期限单位为月
            $("#_projectDurationUnit").combobox("setValue", "3");
            //默认还款方式为到期还款
            $("#_repaymentMethod").combobox("setValue", "1");
            //单独加载所属用户
            $("#_investorId").textbox("initValue", '<#userTicket field="id"/>');
            $("#_investorId").textbox("setText", '<#userTicket field="realName"/>');
            //设置默认银行卡
            <% if(has(bankCardId) && has(bankCardNumber)){%>
                $("#_bankCardId").textbox("initValue", '${bankCardId}');
                $("#_bankCardId").textbox("setText", '${bankCardNumber}');
            <%}%>
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_investorId");
            var formData = $.extend({},selected);
            //现金券、已抵扣、实际支付和投资额不取原始值
            formData[orginal_key_prefix + "cashCoupon"] = formData["cashCoupon"];
            formData[orginal_key_prefix + "deducted"] = formData["deducted"];
            formData[orginal_key_prefix + "investment"] = formData["investment"];
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form("clear");
            $('#_form').form('load', formData);
            //由于加载表单数据会触发计算结束日期，所以这里需要再次设置结束日期
            $("#_endDate").datebox("setValue", formData["_endDate"]);
            //加载所属用户
            $("#_investorId").textbox("initValue", selected["$_investorId"]);
            $("#_investorId").textbox("setText", selected["investorId"]);
            //加载银行卡
            $("#_bankCardId").textbox("initValue", selected["$_bankCardId"]);
            $("#_bankCardId").textbox("setText", selected["bankCardId"]);
            //修改时默认不调整余额
            $("#_adjustBalance").combobox("setValue", "0");
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
//            alert(JSON.stringify(_formData));return;
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/investment/insert.action";
            }else{//有id就修改
                _url = "${contextPath}/investment/update.action";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    $.messager.alert('错误','远程访问失败'+XMLHttpRequest.responseText);
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/investment/delete.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });
        }
        //提前到帐
        function arrived(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            if(selected["isExpired"] == "是"){
                $.messager.alert('警告',"["+selected["projectName"]+']已经到期');
                return;
            }
            $.messager.confirm('确认','您确认想要提前到帐吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/investment/arrived.action",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });
        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/investment/listPage.action";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }

        //清空表单
        function clearForm() {
            $('#form').form('clear');
            $("#investorId").textbox("initValue", null);

        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "investorId", queryGrid);
            bindFormEvent("_form", "_investorId", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            $('#investorId').textbox('addClearBtn', 'icon-clear');
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    {
                        iconCls:'icon-ok',
                        text:'提前到帐',
                        handler:function(){
                            arrived();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'部分到帐',
                        handler:function(){
                            openArrived();
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>