 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="210" align="center">
            <table class="easyui-datagrid" title="投资人统计" id="investorStatsGrid" fitColumns="true"
                   rownumbers="true" remoteSort="false" noHeader="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
                   align="center" fit="true" striped="true" toolbar="#investorStatsGridToolbar" data-options="">
                <thead>
                <tr>
                    <th width="10%" data-options="field:'investorId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        投资人
                    </th>
                    <th width="10%" data-options="field:'dailyProfit',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        今日收益
                    </th>
                    <th width="10%" data-options="field:'investmentAmount', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        投资笔数
                    </th>
                    <th width="10%" data-options="field:'investment',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        投资额
                    </th>
                    <th width="10%" data-options="field:'profit', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        预期收益
                    </th>
                    <th width="10%" data-options="field:'totalInvestmentAmount', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        累计笔数
                    </th>
                    <th width="10%" data-options="field:'totalInvestment', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        累计投资额
                    </th>
                    <th width="10%" data-options="field:'totalProfit',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        累计收益
                    </th>
                </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
            <div id="investorStatsGridToolbar" style="padding:2px 5px;">
                <B style="font-size: 16px">投资人统计</B>
                <div style="float:right">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('investorStatsGrid')" plain="true">导出</a>
                    边框显示:<select onchange="changeBorder('investorStatsGrid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                    行条纹:<input type="checkbox" checked="checked" onclick="$('#investorStatsGrid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <table class="easyui-datagrid" title="投资人平台统计" id="investorPlatformStatsGrid" fitColumns="true"
                   rownumbers="true" remoteSort="false" noHeader="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
                   align="center" fit="true" striped="true" toolbar="#investorPlatformStatsGridToolbar" data-options="">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'investorId', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资人
                        </th>
                        <th width="10%" data-options="field:'platformName', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资平台
                        </th>
                        <th width="10%" data-options="field:'dailyProfit',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            今日收益
                        </th>
                        <th width="10%" data-options="field:'investmentAmount', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资笔数
                        </th>
                        <th width="10%" data-options="field:'investment',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            投资额
                        </th>
                        <th width="10%" data-options="field:'profit', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            预期收益
                        </th>
                        <th width="10%" data-options="field:'totalInvestmentAmount', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            累计笔数
                        </th>
                        <th width="10%" data-options="field:'totalInvestment', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            累计投资额
                        </th>
                        <th width="10%" data-options="field:'totalProfit',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            累计收益
                        </th>
                    </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
            <div id="investorPlatformStatsGridToolbar" style="padding:2px 5px;">
                <B style="font-size: 16px">投资人平台统计</B>
                <div style="float:right">
                    <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('investorPlatformStatsGrid')" plain="true">导出</a>
                    边框显示:<select onchange="changeBorder('investorPlatformStatsGrid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                    行条纹:<input type="checkbox" checked="checked" onclick="$('#investorPlatformStatsGrid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //查询投资人统计
        function queryInvestorStatsGrid() {
            var opts = $("#investorStatsGrid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/investment/selectInvestorStats";
            }
            $("#investorStatsGrid").datagrid("load");
        }
        //查询投资人平台统计
        function queryInvestorPlatformStatsGrid() {
            var opts = $("#investorPlatformStatsGrid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/investment/selectInvestorPlatformStats";
            }
            $("#investorPlatformStatsGrid").datagrid("load");
        }

        $(function () {
            //表格仅显示下边框
            $('#investorStatsGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            $('#investorPlatformStatsGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryInvestorStatsGrid();
            queryInvestorPlatformStatsGrid()

        })
    </script>
</#body>