<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:investment<br/>
    类名:Investment<br/>
    表名:investment<br/>
    表注释:<br/>
    实体对象名:Investment<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:investor_id,
        javaProperty:String:investorId,
        defaultValue:String:,
        remarks:String:投资人id,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:platform_id,
        javaProperty:String:platformId,
        defaultValue:String:,
        remarks:String:投资平台id,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:project_name,
        javaProperty:String:projectName,
        defaultValue:String:,
        remarks:String:项目名称,
        length:int:50,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:start_time,
        javaProperty:String:startTime,
        defaultValue:String:,
        remarks:String:起始时间,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:end_time,
        javaProperty:String:endTime,
        defaultValue:String:,
        remarks:String:结束时间,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:project_duration,
        javaProperty:String:projectDuration,
        defaultValue:String:,
        remarks:String:项目期限,
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:project_duration_unit,
        javaProperty:String:projectDurationUnit,
        defaultValue:String:,
        remarks:String:项目期限单位##天/周/月/季/年##{provider:"projectDurationUnitProvider", data:[{value:1,text:"天"},{value:2, text:"周"},{value:3, text:"月"},{value:4, text:"季"},{value:5, text:"年"}]},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:profit_ratio,
        javaProperty:String:profitRatio,
        defaultValue:String:,
        remarks:String:年化收益率##单位(%),
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:voucher,
        javaProperty:String:voucher,
        defaultValue:String:,
        remarks:String:满减券##直接抵扣的满减券,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:Interest_coupon,
        javaProperty:String:interestCoupon,
        defaultValue:String:,
        remarks:String:加息券##年化收益加息券,单位(%),
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:cash_coupon,
        javaProperty:String:cashCoupon,
        defaultValue:String:,
        remarks:String:现金券##充值返的现金券或红包，用于下次投资,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:actual_expenditure,
        javaProperty:String:actualExpenditure,
        defaultValue:String:,
        remarks:String:扣除满减券的支付额,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:investment,
        javaProperty:String:investment,
        defaultValue:String:,
        remarks:String:投资额,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:is_remind,
        javaProperty:String:isRemind,
        defaultValue:String:,
        remarks:String:是否到期提醒##{provider:"YesOrNoProvider", data:[{value:0,text:"否"},{value:1, text:"是"}]},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:yn,
        javaProperty:String:yn,
        defaultValue:String:1,
        remarks:String:是否投资中##{provider:"YnProvider", data:[{value:"0",text:"不可用"},{value:"1", text:"可用"}]},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:bank_card_id,
        javaProperty:String:bankCardId,
        defaultValue:String:,
        remarks:String:投资卡,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:notes,
        javaProperty:String:notes,
        defaultValue:String:,
        remarks:String:备注信息,
        length:int:250,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:created_id,
        javaProperty:String:createdId,
        defaultValue:String:,
        remarks:String:创建人,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:modified_id,
        javaProperty:String:modifiedId,
        defaultValue:String:,
        remarks:String:修改人,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:created,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:modified,
        javaProperty:String:modified,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:修改时间,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
</body>
</html>