<#body>
    <style>
        td div div:first-child {
            border: 0;
        }
        body {
            margin: 0;
            padding: 0;
        }
        .panel-body {
            background: none;
        }
        /*顶部导航条*/
        .panel-body {
            font-size: 15px;
        }
        #header-menu {
            padding-top: 8px;
            padding-bottom: 8px;
            box-sizing: border-box;
            background-size: cover;
        }
        .mainMenu {
            width: auto;
            text-align: center;
        }
        .l-btn-plain.cur,
        .l-btn-plain {
            width: 106px;
            /*padding-left: 20px;*/
            /*padding-right: 20px;*/
            text-align: center;
            margin-right: 10px;
            background: rgba(235,235,235,0.8);
            border-radius:11px;
            color: #000;
        }
        .l-btn-text {
            line-height: 40px;
            font-size: 16px;
            font-weight:bold;
            font-family: "微软雅黑 Light";
        }
        .l-btn-plain:hover {
            background: #2b9eff;
            border-radius:11px;
        }
        .menu-text {
            /*width: 100%;*/
            width: 118px;
            padding-left: 0;
            text-align: center;
            font-size: 16px;
            font-weight:bold;
            font-family: "微软雅黑 Light";
        }

        /*
        通知暂时取消
        .header-user .inform {
            float: left;
            margin-top: 10px;
            margin-right: 20px
        }
        .header-user .inform-num {
            display:inline-block;
            padding:2px;
            margin-left:-8px;
            background:#f00;
            color: #fff;
            border-radius:50%;
            vertical-align: top;
            font-size: 12px;
        }
        .header-user .userhead {
            float: left;
            width: 30px;
            height: 30px;
            margin-top: 1px;
            margin-right: 20px
        }*/
        .logo a {
            text-decoration: none;
        }
        .logo img {
            vertical-align: middle;
        }
        .logo span {
            vertical-align: middle;
            font-size: 18px;
            color: #0096E0;
            font-family: "微软雅黑 Light";
            font-weight: bold;
        }
        .homeA {
            display: inline-block;
            width: 46px;
            height: 38px;
            border: 1px solid #fff;
            background: url(${contextPath}/resources/images/icon/home.png) no-repeat center;
        }
        .homeA:hover{
            border: 1px solid dodgerblue;
            border-radius: 12px;
        }
    </style>

    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div  id="header-menu" region="north" height="auto" style="border:0px; width: 99.9%" align="center" >
            <table width="99.9%" style="padding: 0px; margin:0px;border-spacing: 0; border: 1px;" >
                <tr>
                    <td class="home" style="padding-left: 30px;width: 60px"><a href="${contextPath}/index/index.html" class="homeA"></a></td>
                    <td class="logo" ><a href="${system.url!}"><img  src="${system.logoUrl!(contextPath+"/resources/images/icon/uni-logo.png")}" alt=""><span>&nbsp;&nbsp;${system.name!}</span></a></td>
                    <td>
                        <#menubutton _divId="mainMenu" _panelAlign="center" _service="menuServiceImpl" _method="listDirAndLinksByUserIdAndSystemCode" _queryParams="{userId:'${userid}', systemCode:'${system.code}'}" _menuWidth="122" _menuHeight="40"
                                _textField="name" _idField="id" _parentIdField="parentId" plain="true" hasDownArrow="false" itemWidth="122" itemHeight="40" minWidth="50"
                                align="left" noline="true" onClick="menuClickHandler">
                        </#menubutton>
                    </td>

                    <td class="header-user" width="110px">
                        <!--<a href="" class="inform"><img src="${contextPath}/resources/images/icon/inform-icon.png" alt=""><span class="inform-num">99</span>-->
                        <!--</a>-->
                        <!--<a href="javascript:;" class="userhead"><img src="${contextPath}/resources/images/icon/head-default.png" alt=""></a>-->

                        <div id="userMenu" class="easyui-panel" style="padding:1px; float: left">
                            <a id="menubutton_right" href="#" class="easyui-menubutton" data-options="menu:'#menu_right', plain:true, hasDownArrow:false">${username}</a>
                        </div>
                        <div id="menu_right" style="width:100px" data-options="zIndex:'110000' , align:'left', noline:true, onClick:menuClickHandler, minWidth:108" itemHeight="40">
                            <%if(system.code==@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
                            <div id="menu_userDetail" data-options="url:'${contextPath}/index/userDetail.html', align:'left'">
                                用户信息
                            </div>
                            <div id="menu_changePwd" data-options="url:'${contextPath}/index/changePwd.html', align:'left'">
                                修改密码
                            </div>
                            <%}%>
                            <div id="menu_logout" data-options="blankKey:'', align:'left'">
                                注销
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <div region="center" style="width:100%;border:0px;" height="auto" >
            <div id="mainPanel" class="easyui-panel" style="width: 100%; height: 100%;border:1px solid lightgray;" data-options="">
            </div>
        </div>
    </div>
    <!-- 强制修改密码弹出框 -->
    <div class="easyui-window" id="changePwdWin" closable="false" minimizable="false" maximizable="false" collapsible="false"
         draggable="false" title="修改密码" modal="true" closed="true" style="width:320px;height:240px">
        <form id="changePwdForm" class="easyui-form" fit="true" method="post" novalidate="novalidate">
            <div style="width: 260px; margin: 10px auto 0">
                <table width="100%">
                    <tr>
                        <td style="padding: 5px;"><input id="currentPwd" name="oldPassword" style="width: 100%" type="hidden" value="123456" /></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" id="newPwd" name="newPassword" style="width: 100%" data-options="label:'新密码:',validType:'length[0,32]',labelAlign:'right'"
                                                         type="password" required="true" validateOnCreate="false" /></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" id="reNewPwd" name="confirmPassword" style="width: 100%" data-options="label:'确认密码:',labelAlign:'right'" type="password"
                                                         validType="pwdEquals['#newPwd']" required="true" validateOnCreate="false" /></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;height: 20px" align="center"><label><span id="errorTxt" style="color: red;"></span></label></td>
                    </tr>
                    <tr>
                        <td align="center"><a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:80" iconCls="icon-ok" onclick="changePwd()">确认</a></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //判断是否为JSON
        function isJSON(str) {
            if (typeof str == 'string') {
                try {
                    var obj=JSON.parse(str);
                    if(typeof obj == 'object' && obj ){
                        return true;
                    }else{
                        return false;
                    }
                } catch(e) {
                    console.log('error：'+str+'!!!'+e);
                    return false;
                }
            }
            console.log('It is not a string!')
        }
        //返回登录页面，供子页面调用
        function toLogin() {
            window.location.href="${contextPath}/login/index.html";
        }
        //跳转到url
        function toUrl(url) {
            window.location.href = url;
        }
        //监听子页面的toLogin事件消息
        window.addEventListener('message',function(e){
            var data = e.data;
            var origin = e.origin;
            if(data  == 'toLogin'){
                toLogin();
            }
        },false);

        function menuClickHandler(item) {
            //如果没有子菜单，当前调用者则是easyui-linkbutton，回调事件没有item参数，只能从options中获取
            if(item == null){
                item = $(this).linkbutton("options");
            }
            var title = item.text;
            var url = item.url;
            if ("menu_logout" == item.id) {
                logout();
                return;
            }
            if(!url || null == url || url===""){
                return;
            }
            renderPage(title,url);
        }

        function renderPage(title, url) {
            var content = '<iframe scrolling="auto" frameborder="0" src="'+url+'" onLoad="" style="width:100%; height: 99.2%;"></iframe>';
            $('#mainPanel').panel({
                content:content,
                cache:false
            });

        }

        function logout() {
            $.post('${contextPath!}/login/logout.action',{systemCode:'${system.code}', userId:'${userid}'},function(data){
                if ("200" == data.code) {
                    window.location.href = "${contextPath}/login/index.html";
                } else {
                    $.messager.alert('提示','注销失败');
                }
            });
        }

        function changePwd() {
            if (!$('#changePwdForm').form("validate")) {
                return false;
            }
            var formData = $("#changePwdForm").serializeObject();
            $.ajax({
                type : "POST",
                url : "${contextPath!}/user/changePwd.action",
                data : formData,
                processData : true,
                dataType : "json",
                async : true,
                success : function(data) {
                    if (data.code == "200") {
                        $('#changePwdForm').form("clear");
                        $("#changePwdWin").window("close");
                    } else {
                        $('#errorTxt').html(data.result)
                    }
                },
                error : function() {
                    $.messager.alert('错误', '远程访问失败');
                }
            });
        }

        $(function () {
            <% if(userState == @com.dili.uap.glossary.UserState.INACTIVE.getCode()){%>
            //如果用户未激活，则弹框要求用户修改密码
                $("#changePwdWin").window("open");
                //输入框值有变化时清空错误提示
                $('#newPwd').passwordbox('textbox').bind('keydown', function(e){
                    $('#errorTxt').html('');
                });
                $('#reNewPwd').passwordbox('textbox').bind('keydown', function(e){
                    $('#errorTxt').html('');
                });
            <%}%>
            renderPage("主页", "${system.indexUrl!"about:blank"}");
        });
    </script>
</#body>