 <#body>
     <#controls_user dlgId="userSelectDialog" controlId="userId"/>
     <div id="userSelectDialog" style="display: none;"></div>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="accountName" id="accountName" style="width:100%" labelWidth="60" data-options="labelAlign:'right', label:'开户名:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cardNumber" id="cardNumber" style="width:100%" data-options="labelAlign:'right', label:'银行卡号:', validType:'length[0,30]'" />
                            </td>
                            <td style="padding:5px;">
                                <input name="bank" id="bank" style="width:100%" editable="false" data-options="labelAlign:'right', label:'开户行:'" />
                                <#comboProvider _id="bank" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"4"}'/>
                            </td>
                            <td style="padding:5px;">
                                    <input name="isDefault" id="isDefault" style="width:100%;" editable="false" panelWidth="auto" labelAlign="right" panelHeight="auto" label="是否默认:"/>
                                    <#comboProvider _id="isDefault" _provider='yesOrNoProvider'/>

                            </td>
                            <td style="padding:5px;">
                                    <input name="isDepository" id="isDepository" style="width:100%;" editable="false" labelWidth="100" labelAlign="right" panelWidth="auto" panelHeight="auto" label="是否存管帐户:"/>
                                    <#comboProvider _id="isDepository" _provider='yesOrNoProvider'/>

                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="银行卡列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="userId"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="8%" data-options="field:'userId', _provider:'userProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属用户
                        </th>
                        <th width="10%" data-options="field:'cardType',  _provider:'cardTypeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            银行卡类型
                        </th>
                        <th width="8%" data-options="field:'accountName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            开户名
                        </th>
                        <th width="12%" data-options="field:'idNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            身份证号
                        </th>
                        <th width="12%" data-options="field:'subbranch',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属支行
                        </th>
                        <th width="12%" data-options="field:'cardNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            银行卡号
                        </th>
                        <th width="8%" data-options="field:'bankName', _escapeFileds:{bankName:'code'}, _relationTablePkField:'value', _relationTable:'data_dictionary_value',
_fkField:'bank', _provider:'simpleBatchDisplayTextProvider', _queryParams:{'dd_id':'4', 'yn':'1'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            开户行
                        </th>
                        <th width="8%" data-options="field:'isDefault',  _provider:'yesOrNoProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否默认
                        </th>
                        <th width="10%" data-options="field:'isDepository',  _provider:'yesOrNoProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否存管帐户
                        </th>
                        <th width="12%" data-options="field:'addTime',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            添加时间
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="银行卡信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 445,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="userId" id="userId"  panelHeight="auto" label="用户选择:" style="width: 100%;"
                           data-options="labelAlign:'right',editable:false,buttonText:'选择',onClickButton:_selectUser,onChange:_changeTextboxShowClear" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_cardType" id="_cardType" data-options="labelAlign:'right'" editable="false" style="width:100%;" panelWidth="auto" panelHeight="auto" label="银行卡类型:" />
                       <#comboProvider _id="_cardType" _provider='cardTypeProvider'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_accountName" id="_accountName" style="width:100%" data-options="labelAlign:'right', label:'开户名:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_idNumber" id="_idNumber" style="width:100%" data-options="labelAlign:'right', label:'身份证号:', validType:'length[0,40]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_subbranch" id="_subbranch" style="width:100%" data-options="labelAlign:'right', label:'所属支行:', validType:'length[0,40]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cardNumber" id="_cardNumber" style="width:100%" data-options="labelAlign:'right', label:'银行卡号:', validType:'length[0,30]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_bank" id="_bank" style="width:100%" editable="false" data-options="labelAlign:'right', label:'开户行:', validType:'length[0,50]'" />
                    <#comboProvider _id="_bank" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"4"}'/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_isDefault" id="_isDefault" style="width:100%;" editable="false" panelWidth="auto" data-options="labelAlign:'right'" panelHeight="auto" label="是否默认:" />
                       <#comboProvider _id="_isDefault" _provider='yesOrNoProvider'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_isDepository" id="_isDepository" style="width:100%;" editable="false" labelWidth="100" panelWidth="auto" data-options="labelAlign:'right'" panelHeight="auto" label="是否存管帐户:" />
                       <#comboProvider _id="_isDepository" _provider='yesOrNoProvider'/>

                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_userId");
            //默认选中储蓄卡
            $("#_cardType").combobox("setValue", "1");
            //默认为非默认卡
            $("#_isDefault").combobox("setValue", "0");
            //默认为非存管帐户
            $("#_isDepository").combobox("setValue", "0");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_userId");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
            //单独加载所属用户
            $("#userId").textbox("initValue", selected["$_userId"]);
            $("#userId").textbox("setText", selected["userId"]);
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(true),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/bankCard/insert";
            }else{//有id就修改
                _url = "${contextPath}/bankCard/update";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/bankCard/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/bankCard/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            clearEasyuiForm("form");
//            $("#userId").textbox('getIcon',0).css('visibility','hidden');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "userId", queryGrid);
            bindFormEvent("_form", "_userId", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }

            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
            pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>