<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:bankCard<br/>
    类名:BankCard<br/>
    表名:bank_card<br/>
    表注释:<br/>
    实体对象名:BankCard<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:user_id,
        javaProperty:String:userId,
        defaultValue:String:,
        remarks:String:用户ID,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:card_type,
        javaProperty:String:cardType,
        defaultValue:String:,
        remarks:String:银行卡类型##默认选中储蓄卡，目前仅“储蓄卡”##{provider:"cardTypeProvider", data:[{value:1,text:"储蓄卡"},{value:2, text:"信用卡"}]},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:account_name,
        javaProperty:String:accountName,
        defaultValue:String:,
        remarks:String:开户名,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:id_number,
        javaProperty:String:idNumber,
        defaultValue:String:,
        remarks:String:身份证号,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:subbranch,
        javaProperty:String:subbranch,
        defaultValue:String:,
        remarks:String:所属支行##选填，允许5-50位汉字、字母和数字，不允许特殊,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:card_number,
        javaProperty:String:cardNumber,
        defaultValue:String:,
        remarks:String:银行卡号##允许填写8-30位纯数字,
        length:int:30,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:bank,
        javaProperty:String:bank,
        defaultValue:String:,
        remarks:String:开户行##数据字典:中国银行，建设银行，招商银行##,
        length:int:50,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:is_default,
        javaProperty:String:isDefault,
        defaultValue:String:,
        remarks:String:是否默认##{provider:"YesOrNoProvider"},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:is_depository,
        javaProperty:String:isDepository,
        defaultValue:String:,
        remarks:String:是否存管帐户##{provider:"YesOrNoProvider"},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:add_time,
        javaProperty:String:addTime,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:添加时间,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
</body>
</html>